html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Cinzel Decorative', cursive;
}


/*
 * Navigation
 */
 
.navbar-transparent {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-transparent .nav > li > a:hover,
.navbar-transparent .nav > li > a:focus:hover {
	color: #1bb4f0;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-transparent .navbar-header .navbar-brand {
	color: #f0811b;
	font-weight: 700;
	font-size: 35px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-transform: uppercase;
	margin:20px 0 20px;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-transparent .nav > li > a,
.navbar-transparent .nav > li > a:focus {
	margin:20px 0 20px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: #f0811b;
	background-color: transparent;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-transparent .nav > li > a:hover,
.navbar-transparent .nav > li > a:focus:hover {
	color: #1bb4f0;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default {
	background-color: #1bb4f0 !important;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #1bb4f0;
}

.navbar-default .navbar-header .navbar-brand {
	color: #f0811b;
	font-weight: 700;
	font-size: 30px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-transform: uppercase;
	margin:1px 0 1px;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	margin:1px 0 1px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: #f0811b;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #1bb4f0;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

/*
 * Pages
 */
 
header {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url('/img/header-bg.jpg');
	width: 100%;
	min-height: 100%;
}

.section-header {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	padding: 300px 15px 200px;
	text-align: center;
	width: 50%;
}

.section-pages {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-color: #f0811b;
	width: 100%;
	min-height: 100%;
}

.section-pages-title {
	padding: 100px 0 0;
	color:#FFF;
	text-align: center;
}

.section-pages-title>h1 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 35px;
	color: #1bb4f0;
}

.section-pages-body {
	padding:20px;
	color:#FFF;
}